.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 10px;
}

.m-3 {
  margin: 15px;
}

.m-4 {
  margin: 20px;
}

.m-5 {
  margin: 25px;
}

.ms-1 {
  margin-left: 5px;
}

.ms-2 {
  margin-left: 10px;
}

.ms-3 {
  margin-left: 15px;
}

.ms-4 {
  margin-left: 20px;
}

.ms-5 {
  margin-left: 25px;
}

.me-1 {
  margin-right: 5px;
}

.me-2 {
  margin-right: 10px;
}

.me-3 {
  margin-right: 15px;
}

.me-4 {
  margin-right: 20px;
}

.me-5 {
  margin-right: 25px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 25px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 25px;
}

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-5 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.mx-1 {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-3 {
  margin-left: 15px;
  margin-right: 15px;
}

.mx-4 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-5 {
  margin-left: 25px;
  margin-right: 25px;
}

@media (min-width: 576px) {
  .m-sm-1 {
    margin: 5px;
  }

  .m-sm-2 {
    margin: 10px;
  }

  .m-sm-3 {
    margin: 15px;
  }

  .m-sm-4 {
    margin: 20px;
  }

  .m-sm-5 {
    margin: 25px;
  }
}
@media (min-width: 768px) {
  .m-md-1 {
    margin: 5px;
  }

  .m-md-2 {
    margin: 10px;
  }

  .m-md-3 {
    margin: 15px;
  }

  .m-md-4 {
    margin: 20px;
  }

  .m-md-5 {
    margin: 25px;
  }
}
@media (min-width: 991px) {
  .m-lg-1 {
    margin: 5px;
  }

  .m-lg-2 {
    margin: 10px;
  }

  .m-lg-3 {
    margin: 15px;
  }

  .m-lg-4 {
    margin: 20px;
  }

  .m-lg-5 {
    margin: 25px;
  }
}
@media (min-width: 1200px) {
  .m-xl-1 {
    margin: 5px;
  }

  .m-xl-2 {
    margin: 10px;
  }

  .m-xl-3 {
    margin: 15px;
  }

  .m-xl-4 {
    margin: 20px;
  }

  .m-xl-5 {
    margin: 25px;
  }
}
@media (min-width: 1400px) {
  .m-xxl-1 {
    margin: 5px;
  }

  .m-xxl-2 {
    margin: 10px;
  }

  .m-xxl-3 {
    margin: 15px;
  }

  .m-xxl-4 {
    margin: 20px;
  }

  .m-xxl-5 {
    margin: 25px;
  }
}
@media (min-width: 576px) {
  .mt-sm-1 {
    margin-top: 5px;
  }

  .mt-sm-2 {
    margin-top: 10px;
  }

  .mt-sm-3 {
    margin-top: 15px;
  }

  .mt-sm-4 {
    margin-top: 20px;
  }

  .mt-sm-5 {
    margin-top: 25px;
  }
}
@media (min-width: 768px) {
  .mt-md-1 {
    margin-top: 5px;
  }

  .mt-md-2 {
    margin-top: 10px;
  }

  .mt-md-3 {
    margin-top: 15px;
  }

  .mt-md-4 {
    margin-top: 20px;
  }

  .mt-md-5 {
    margin-top: 25px;
  }
}
@media (min-width: 991px) {
  .mt-lg-1 {
    margin-top: 5px;
  }

  .mt-lg-2 {
    margin-top: 10px;
  }

  .mt-lg-3 {
    margin-top: 15px;
  }

  .mt-lg-4 {
    margin-top: 20px;
  }

  .mt-lg-5 {
    margin-top: 25px;
  }
}
@media (min-width: 1200px) {
  .mt-xl-1 {
    margin-top: 5px;
  }

  .mt-xl-2 {
    margin-top: 10px;
  }

  .mt-xl-3 {
    margin-top: 15px;
  }

  .mt-xl-4 {
    margin-top: 20px;
  }

  .mt-xl-5 {
    margin-top: 25px;
  }
}
@media (min-width: 1400px) {
  .mt-xxl-1 {
    margin-top: 5px;
  }

  .mt-xxl-2 {
    margin-top: 10px;
  }

  .mt-xxl-3 {
    margin-top: 15px;
  }

  .mt-xxl-4 {
    margin-top: 20px;
  }

  .mt-xxl-5 {
    margin-top: 25px;
  }
}
@media (min-width: 576px) {
  .mb-sm-1 {
    margin-top: 5px;
  }

  .mb-sm-2 {
    margin-top: 10px;
  }

  .mb-sm-3 {
    margin-top: 15px;
  }

  .mb-sm-4 {
    margin-top: 20px;
  }

  .mb-sm-5 {
    margin-top: 25px;
  }
}
@media (min-width: 768px) {
  .mb-md-1 {
    margin-top: 5px;
  }

  .mb-md-2 {
    margin-top: 10px;
  }

  .mb-md-3 {
    margin-top: 15px;
  }

  .mb-md-4 {
    margin-top: 20px;
  }

  .mb-md-5 {
    margin-top: 25px;
  }
}
@media (min-width: 991px) {
  .mb-lg-1 {
    margin-top: 5px;
  }

  .mb-lg-2 {
    margin-top: 10px;
  }

  .mb-lg-3 {
    margin-top: 15px;
  }

  .mb-lg-4 {
    margin-top: 20px;
  }

  .mb-lg-5 {
    margin-top: 25px;
  }
}
@media (min-width: 1200px) {
  .mb-xl-1 {
    margin-top: 5px;
  }

  .mb-xl-2 {
    margin-top: 10px;
  }

  .mb-xl-3 {
    margin-top: 15px;
  }

  .mb-xl-4 {
    margin-top: 20px;
  }

  .mb-xl-5 {
    margin-top: 25px;
  }
}
@media (min-width: 1400px) {
  .mb-xxl-1 {
    margin-top: 5px;
  }

  .mb-xxl-2 {
    margin-top: 10px;
  }

  .mb-xxl-3 {
    margin-top: 15px;
  }

  .mb-xxl-4 {
    margin-top: 20px;
  }

  .mb-xxl-5 {
    margin-top: 25px;
  }
}
@media (min-width: 576px) {
  .ms-sm-1 {
    margin-top: 5px;
  }

  .ms-sm-2 {
    margin-top: 10px;
  }

  .ms-sm-3 {
    margin-top: 15px;
  }

  .ms-sm-4 {
    margin-top: 20px;
  }

  .ms-sm-5 {
    margin-top: 25px;
  }
}
@media (min-width: 768px) {
  .ms-md-1 {
    margin-top: 5px;
  }

  .ms-md-2 {
    margin-top: 10px;
  }

  .ms-md-3 {
    margin-top: 15px;
  }

  .ms-md-4 {
    margin-top: 20px;
  }

  .ms-md-5 {
    margin-top: 25px;
  }
}
@media (min-width: 991px) {
  .ms-lg-1 {
    margin-top: 5px;
  }

  .ms-lg-2 {
    margin-top: 10px;
  }

  .ms-lg-3 {
    margin-top: 15px;
  }

  .ms-lg-4 {
    margin-top: 20px;
  }

  .ms-lg-5 {
    margin-top: 25px;
  }
}
@media (min-width: 1200px) {
  .ms-xl-1 {
    margin-top: 5px;
  }

  .ms-xl-2 {
    margin-top: 10px;
  }

  .ms-xl-3 {
    margin-top: 15px;
  }

  .ms-xl-4 {
    margin-top: 20px;
  }

  .ms-xl-5 {
    margin-top: 25px;
  }
}
@media (min-width: 1400px) {
  .ms-xxl-1 {
    margin-top: 5px;
  }

  .ms-xxl-2 {
    margin-top: 10px;
  }

  .ms-xxl-3 {
    margin-top: 15px;
  }

  .ms-xxl-4 {
    margin-top: 20px;
  }

  .ms-xxl-5 {
    margin-top: 25px;
  }
}
@media (min-width: 576px) {
  .me-sm-1 {
    margin-top: 5px;
  }

  .me-sm-2 {
    margin-top: 10px;
  }

  .me-sm-3 {
    margin-top: 15px;
  }

  .me-sm-4 {
    margin-top: 20px;
  }

  .me-sm-5 {
    margin-top: 25px;
  }
}
@media (min-width: 768px) {
  .me-md-1 {
    margin-top: 5px;
  }

  .me-md-2 {
    margin-top: 10px;
  }

  .me-md-3 {
    margin-top: 15px;
  }

  .me-md-4 {
    margin-top: 20px;
  }

  .me-md-5 {
    margin-top: 25px;
  }
}
@media (min-width: 991px) {
  .me-lg-1 {
    margin-top: 5px;
  }

  .me-lg-2 {
    margin-top: 10px;
  }

  .me-lg-3 {
    margin-top: 15px;
  }

  .me-lg-4 {
    margin-top: 20px;
  }

  .me-lg-5 {
    margin-top: 25px;
  }
}
@media (min-width: 1200px) {
  .me-xl-1 {
    margin-top: 5px;
  }

  .me-xl-2 {
    margin-top: 10px;
  }

  .me-xl-3 {
    margin-top: 15px;
  }

  .me-xl-4 {
    margin-top: 20px;
  }

  .me-xl-5 {
    margin-top: 25px;
  }
}
@media (min-width: 1400px) {
  .me-xxl-1 {
    margin-top: 5px;
  }

  .me-xxl-2 {
    margin-top: 10px;
  }

  .me-xxl-3 {
    margin-top: 15px;
  }

  .me-xxl-4 {
    margin-top: 20px;
  }

  .me-xxl-5 {
    margin-top: 25px;
  }
}
.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.p-4 {
  padding: 20px;
}

.p-5 {
  padding: 25px;
}

.ps-1 {
  padding-left: 5px;
}

.ps-2 {
  padding-left: 10px;
}

.ps-3 {
  padding-left: 15px;
}

.ps-4 {
  padding-left: 20px;
}

.ps-5 {
  padding-left: 25px;
}

.pe-1 {
  padding-right: 5px;
}

.pe-2 {
  padding-right: 10px;
}

.pe-3 {
  padding-right: 15px;
}

.pe-4 {
  padding-right: 20px;
}

.pe-5 {
  padding-right: 25px;
}

.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 15px;
}

.pt-4 {
  padding-top: 20px;
}

.pt-5 {
  padding-top: 25px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pb-5 {
  padding-bottom: 25px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-5 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-5 {
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: 576px) {
  .p-sm-1 {
    padding: 5px;
  }

  .p-sm-2 {
    padding: 10px;
  }

  .p-sm-3 {
    padding: 15px;
  }

  .p-sm-4 {
    padding: 20px;
  }

  .p-sm-5 {
    padding: 25px;
  }
}
@media (min-width: 768px) {
  .p-md-1 {
    padding: 5px;
  }

  .p-md-2 {
    padding: 10px;
  }

  .p-md-3 {
    padding: 15px;
  }

  .p-md-4 {
    padding: 20px;
  }

  .p-md-5 {
    padding: 25px;
  }
}
@media (min-width: 991px) {
  .p-lg-1 {
    padding: 5px;
  }

  .p-lg-2 {
    padding: 10px;
  }

  .p-lg-3 {
    padding: 15px;
  }

  .p-lg-4 {
    padding: 20px;
  }

  .p-lg-5 {
    padding: 25px;
  }
}
@media (min-width: 1200px) {
  .p-xl-1 {
    padding: 5px;
  }

  .p-xl-2 {
    padding: 10px;
  }

  .p-xl-3 {
    padding: 15px;
  }

  .p-xl-4 {
    padding: 20px;
  }

  .p-xl-5 {
    padding: 25px;
  }
}
@media (min-width: 1400px) {
  .p-xxl-1 {
    padding: 5px;
  }

  .p-xxl-2 {
    padding: 10px;
  }

  .p-xxl-3 {
    padding: 15px;
  }

  .p-xxl-4 {
    padding: 20px;
  }

  .p-xxl-5 {
    padding: 25px;
  }
}
@media (min-width: 576px) {
  .pt-sm-1 {
    padding-top: 5px;
  }

  .pt-sm-2 {
    padding-top: 10px;
  }

  .pt-sm-3 {
    padding-top: 15px;
  }

  .pt-sm-4 {
    padding-top: 20px;
  }

  .pt-sm-5 {
    padding-top: 25px;
  }
}
@media (min-width: 768px) {
  .pt-md-1 {
    padding-top: 5px;
  }

  .pt-md-2 {
    padding-top: 10px;
  }

  .pt-md-3 {
    padding-top: 15px;
  }

  .pt-md-4 {
    padding-top: 20px;
  }

  .pt-md-5 {
    padding-top: 25px;
  }
}
@media (min-width: 991px) {
  .pt-lg-1 {
    padding-top: 5px;
  }

  .pt-lg-2 {
    padding-top: 10px;
  }

  .pt-lg-3 {
    padding-top: 15px;
  }

  .pt-lg-4 {
    padding-top: 20px;
  }

  .pt-lg-5 {
    padding-top: 25px;
  }
}
@media (min-width: 1200px) {
  .pt-xl-1 {
    padding-top: 5px;
  }

  .pt-xl-2 {
    padding-top: 10px;
  }

  .pt-xl-3 {
    padding-top: 15px;
  }

  .pt-xl-4 {
    padding-top: 20px;
  }

  .pt-xl-5 {
    padding-top: 25px;
  }
}
@media (min-width: 1400px) {
  .pt-xxl-1 {
    padding-top: 5px;
  }

  .pt-xxl-2 {
    padding-top: 10px;
  }

  .pt-xxl-3 {
    padding-top: 15px;
  }

  .pt-xxl-4 {
    padding-top: 20px;
  }

  .pt-xxl-5 {
    padding-top: 25px;
  }
}
@media (min-width: 576px) {
  .pb-sm-1 {
    padding-top: 5px;
  }

  .pb-sm-2 {
    padding-top: 10px;
  }

  .pb-sm-3 {
    padding-top: 15px;
  }

  .pb-sm-4 {
    padding-top: 20px;
  }

  .pb-sm-5 {
    padding-top: 25px;
  }
}
@media (min-width: 768px) {
  .pb-md-1 {
    padding-top: 5px;
  }

  .pb-md-2 {
    padding-top: 10px;
  }

  .pb-md-3 {
    padding-top: 15px;
  }

  .pb-md-4 {
    padding-top: 20px;
  }

  .pb-md-5 {
    padding-top: 25px;
  }
}
@media (min-width: 991px) {
  .pb-lg-1 {
    padding-top: 5px;
  }

  .pb-lg-2 {
    padding-top: 10px;
  }

  .pb-lg-3 {
    padding-top: 15px;
  }

  .pb-lg-4 {
    padding-top: 20px;
  }

  .pb-lg-5 {
    padding-top: 25px;
  }
}
@media (min-width: 1200px) {
  .pb-xl-1 {
    padding-top: 5px;
  }

  .pb-xl-2 {
    padding-top: 10px;
  }

  .pb-xl-3 {
    padding-top: 15px;
  }

  .pb-xl-4 {
    padding-top: 20px;
  }

  .pb-xl-5 {
    padding-top: 25px;
  }
}
@media (min-width: 1400px) {
  .pb-xxl-1 {
    padding-top: 5px;
  }

  .pb-xxl-2 {
    padding-top: 10px;
  }

  .pb-xxl-3 {
    padding-top: 15px;
  }

  .pb-xxl-4 {
    padding-top: 20px;
  }

  .pb-xxl-5 {
    padding-top: 25px;
  }
}
@media (min-width: 576px) {
  .ps-sm-1 {
    padding-top: 5px;
  }

  .ps-sm-2 {
    padding-top: 10px;
  }

  .ps-sm-3 {
    padding-top: 15px;
  }

  .ps-sm-4 {
    padding-top: 20px;
  }

  .ps-sm-5 {
    padding-top: 25px;
  }
}
@media (min-width: 768px) {
  .ps-md-1 {
    padding-top: 5px;
  }

  .ps-md-2 {
    padding-top: 10px;
  }

  .ps-md-3 {
    padding-top: 15px;
  }

  .ps-md-4 {
    padding-top: 20px;
  }

  .ps-md-5 {
    padding-top: 25px;
  }
}
@media (min-width: 991px) {
  .ps-lg-1 {
    padding-top: 5px;
  }

  .ps-lg-2 {
    padding-top: 10px;
  }

  .ps-lg-3 {
    padding-top: 15px;
  }

  .ps-lg-4 {
    padding-top: 20px;
  }

  .ps-lg-5 {
    padding-top: 25px;
  }
}
@media (min-width: 1200px) {
  .ps-xl-1 {
    padding-top: 5px;
  }

  .ps-xl-2 {
    padding-top: 10px;
  }

  .ps-xl-3 {
    padding-top: 15px;
  }

  .ps-xl-4 {
    padding-top: 20px;
  }

  .ps-xl-5 {
    padding-top: 25px;
  }
}
@media (min-width: 1400px) {
  .ps-xxl-1 {
    padding-top: 5px;
  }

  .ps-xxl-2 {
    padding-top: 10px;
  }

  .ps-xxl-3 {
    padding-top: 15px;
  }

  .ps-xxl-4 {
    padding-top: 20px;
  }

  .ps-xxl-5 {
    padding-top: 25px;
  }
}
@media (min-width: 576px) {
  .pe-sm-1 {
    padding-top: 5px;
  }

  .pe-sm-2 {
    padding-top: 10px;
  }

  .pe-sm-3 {
    padding-top: 15px;
  }

  .pe-sm-4 {
    padding-top: 20px;
  }

  .pe-sm-5 {
    padding-top: 25px;
  }
}
@media (min-width: 768px) {
  .pe-md-1 {
    padding-top: 5px;
  }

  .pe-md-2 {
    padding-top: 10px;
  }

  .pe-md-3 {
    padding-top: 15px;
  }

  .pe-md-4 {
    padding-top: 20px;
  }

  .pe-md-5 {
    padding-top: 25px;
  }
}
@media (min-width: 991px) {
  .pe-lg-1 {
    padding-top: 5px;
  }

  .pe-lg-2 {
    padding-top: 10px;
  }

  .pe-lg-3 {
    padding-top: 15px;
  }

  .pe-lg-4 {
    padding-top: 20px;
  }

  .pe-lg-5 {
    padding-top: 25px;
  }
}
@media (min-width: 1200px) {
  .pe-xl-1 {
    padding-top: 5px;
  }

  .pe-xl-2 {
    padding-top: 10px;
  }

  .pe-xl-3 {
    padding-top: 15px;
  }

  .pe-xl-4 {
    padding-top: 20px;
  }

  .pe-xl-5 {
    padding-top: 25px;
  }
}
@media (min-width: 1400px) {
  .pe-xxl-1 {
    padding-top: 5px;
  }

  .pe-xxl-2 {
    padding-top: 10px;
  }

  .pe-xxl-3 {
    padding-top: 15px;
  }

  .pe-xxl-4 {
    padding-top: 20px;
  }

  .pe-xxl-5 {
    padding-top: 25px;
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding: 0;
  margin: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }

  .container-sm {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .container-md {
    max-width: 768px;
  }
}
@media (min-width: 991px) {
  .container {
    max-width: 991px;
  }

  .container-lg {
    max-width: 991px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .container-xl {
    max-width: 1200px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }

  .container-xxl {
    max-width: 1400px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-5 {
  gap: 5rem;
}

@media (min-width: 576px) {
  .gap-sm-1 {
    gap: 1rem;
  }

  .gap-sm-2 {
    gap: 2rem;
  }

  .gap-sm-3 {
    gap: 3rem;
  }

  .gap-sm-4 {
    gap: 4rem;
  }

  .gap-sm-5 {
    gap: 5rem;
  }
}
@media (min-width: 768px) {
  .gap-md-1 {
    gap: 1rem;
  }

  .gap-md-2 {
    gap: 2rem;
  }

  .gap-md-3 {
    gap: 3rem;
  }

  .gap-md-4 {
    gap: 4rem;
  }

  .gap-md-5 {
    gap: 5rem;
  }
}
@media (min-width: 991px) {
  .gap-lg-1 {
    gap: 1rem;
  }

  .gap-lg-2 {
    gap: 2rem;
  }

  .gap-lg-3 {
    gap: 3rem;
  }

  .gap-lg-4 {
    gap: 4rem;
  }

  .gap-lg-5 {
    gap: 5rem;
  }
}
@media (min-width: 1200px) {
  .gap-xl-1 {
    gap: 1rem;
  }

  .gap-xl-2 {
    gap: 2rem;
  }

  .gap-xl-3 {
    gap: 3rem;
  }

  .gap-xl-4 {
    gap: 4rem;
  }

  .gap-xl-5 {
    gap: 5rem;
  }
}
@media (min-width: 1400px) {
  .gap-xxl-1 {
    gap: 1rem;
  }

  .gap-xxl-2 {
    gap: 2rem;
  }

  .gap-xxl-3 {
    gap: 3rem;
  }

  .gap-xxl-4 {
    gap: 4rem;
  }

  .gap-xxl-5 {
    gap: 5rem;
  }
}
.col {
  flex-grow: 1;
}

.col-1 {
  flex-basis: 8.3333333333%;
  flex-grow: 1;
}

.col-2 {
  flex-basis: 16.6666666667%;
  flex-grow: 1;
}

.col-3 {
  flex-basis: 25%;
  flex-grow: 1;
}

.col-4 {
  flex-basis: 33.3333333333%;
  flex-grow: 1;
}

.col-5 {
  flex-basis: 41.6666666667%;
  flex-grow: 1;
}

.col-6 {
  flex-basis: 50%;
  flex-grow: 1;
}

.col-7 {
  flex-basis: 58.3333333333%;
  flex-grow: 1;
}

.col-8 {
  flex-basis: 66.6666666667%;
  flex-grow: 1;
}

.col-9 {
  flex-basis: 75%;
  flex-grow: 1;
}

.col-10 {
  flex-basis: 83.3333333333%;
  flex-grow: 1;
}

.col-11 {
  flex-basis: 91.6666666667%;
  flex-grow: 1;
}

.col-12 {
  flex-basis: 100%;
  flex-grow: 1;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex-basis: 8.3333333333%;
    flex-grow: 1;
  }

  .col-sm-2 {
    flex-basis: 16.6666666667%;
    flex-grow: 1;
  }

  .col-sm-3 {
    flex-basis: 25%;
    flex-grow: 1;
  }

  .col-sm-4 {
    flex-basis: 33.3333333333%;
    flex-grow: 1;
  }

  .col-sm-5 {
    flex-basis: 41.6666666667%;
    flex-grow: 1;
  }

  .col-sm-6 {
    flex-basis: 50%;
    flex-grow: 1;
  }

  .col-sm-7 {
    flex-basis: 58.3333333333%;
    flex-grow: 1;
  }

  .col-sm-8 {
    flex-basis: 66.6666666667%;
    flex-grow: 1;
  }

  .col-sm-9 {
    flex-basis: 75%;
    flex-grow: 1;
  }

  .col-sm-10 {
    flex-basis: 83.3333333333%;
    flex-grow: 1;
  }

  .col-sm-11 {
    flex-basis: 91.6666666667%;
    flex-grow: 1;
  }

  .col-sm-12 {
    flex-basis: 100%;
    flex-grow: 1;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    flex-basis: 8.3333333333%;
    flex-grow: 1;
  }

  .col-md-2 {
    flex-basis: 16.6666666667%;
    flex-grow: 1;
  }

  .col-md-3 {
    flex-basis: 25%;
    flex-grow: 1;
  }

  .col-md-4 {
    flex-basis: 33.3333333333%;
    flex-grow: 1;
  }

  .col-md-5 {
    flex-basis: 41.6666666667%;
    flex-grow: 1;
  }

  .col-md-6 {
    flex-basis: 50%;
    flex-grow: 1;
  }

  .col-md-7 {
    flex-basis: 58.3333333333%;
    flex-grow: 1;
  }

  .col-md-8 {
    flex-basis: 66.6666666667%;
    flex-grow: 1;
  }

  .col-md-9 {
    flex-basis: 75%;
    flex-grow: 1;
  }

  .col-md-10 {
    flex-basis: 83.3333333333%;
    flex-grow: 1;
  }

  .col-md-11 {
    flex-basis: 91.6666666667%;
    flex-grow: 1;
  }

  .col-md-12 {
    flex-basis: 100%;
    flex-grow: 1;
  }
}
@media (min-width: 991px) {
  .col-lg-1 {
    flex-basis: 8.3333333333%;
    flex-grow: 1;
  }

  .col-lg-2 {
    flex-basis: 16.6666666667%;
    flex-grow: 1;
  }

  .col-lg-3 {
    flex-basis: 25%;
    flex-grow: 1;
  }

  .col-lg-4 {
    flex-basis: 33.3333333333%;
    flex-grow: 1;
  }

  .col-lg-5 {
    flex-basis: 41.6666666667%;
    flex-grow: 1;
  }

  .col-lg-6 {
    flex-basis: 50%;
    flex-grow: 1;
  }

  .col-lg-7 {
    flex-basis: 58.3333333333%;
    flex-grow: 1;
  }

  .col-lg-8 {
    flex-basis: 66.6666666667%;
    flex-grow: 1;
  }

  .col-lg-9 {
    flex-basis: 75%;
    flex-grow: 1;
  }

  .col-lg-10 {
    flex-basis: 83.3333333333%;
    flex-grow: 1;
  }

  .col-lg-11 {
    flex-basis: 91.6666666667%;
    flex-grow: 1;
  }

  .col-lg-12 {
    flex-basis: 100%;
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    flex-basis: 8.3333333333%;
    flex-grow: 1;
  }

  .col-xl-2 {
    flex-basis: 16.6666666667%;
    flex-grow: 1;
  }

  .col-xl-3 {
    flex-basis: 25%;
    flex-grow: 1;
  }

  .col-xl-4 {
    flex-basis: 33.3333333333%;
    flex-grow: 1;
  }

  .col-xl-5 {
    flex-basis: 41.6666666667%;
    flex-grow: 1;
  }

  .col-xl-6 {
    flex-basis: 50%;
    flex-grow: 1;
  }

  .col-xl-7 {
    flex-basis: 58.3333333333%;
    flex-grow: 1;
  }

  .col-xl-8 {
    flex-basis: 66.6666666667%;
    flex-grow: 1;
  }

  .col-xl-9 {
    flex-basis: 75%;
    flex-grow: 1;
  }

  .col-xl-10 {
    flex-basis: 83.3333333333%;
    flex-grow: 1;
  }

  .col-xl-11 {
    flex-basis: 91.6666666667%;
    flex-grow: 1;
  }

  .col-xl-12 {
    flex-basis: 100%;
    flex-grow: 1;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    flex-basis: 8.3333333333%;
    flex-grow: 1;
  }

  .col-xxl-2 {
    flex-basis: 16.6666666667%;
    flex-grow: 1;
  }

  .col-xxl-3 {
    flex-basis: 25%;
    flex-grow: 1;
  }

  .col-xxl-4 {
    flex-basis: 33.3333333333%;
    flex-grow: 1;
  }

  .col-xxl-5 {
    flex-basis: 41.6666666667%;
    flex-grow: 1;
  }

  .col-xxl-6 {
    flex-basis: 50%;
    flex-grow: 1;
  }

  .col-xxl-7 {
    flex-basis: 58.3333333333%;
    flex-grow: 1;
  }

  .col-xxl-8 {
    flex-basis: 66.6666666667%;
    flex-grow: 1;
  }

  .col-xxl-9 {
    flex-basis: 75%;
    flex-grow: 1;
  }

  .col-xxl-10 {
    flex-basis: 83.3333333333%;
    flex-grow: 1;
  }

  .col-xxl-11 {
    flex-basis: 91.6666666667%;
    flex-grow: 1;
  }

  .col-xxl-12 {
    flex-basis: 100%;
    flex-grow: 1;
  }
}
.nav {
  height: 80px;
  width: 100%;
  background-color: #191919;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav .nav-header {
  display: inline;
}
.nav .nav-header .nav-title {
  display: inline-block;
  font-size: 25px;
  color: #c9ac8c;
  padding: 10px 10px 10px 10px;
  font-family: Rotterburg;
  font-weight: 400;
}
.nav .nav-btn {
  display: none;
}
.nav .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  font-family: Helvetican;
}
.nav .nav-links div {
  padding-left: 80px;
}
.nav .nav-links a {
  position: relative;
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
}
.nav .nav-links a::before {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #c9ac8c;
  bottom: -8px;
  transition: 0.8s transform;
  transform: scalex(0);
  transform-origin: center;
}
.nav .nav-links a:hover::before {
  transform: scaleX(1);
  transform-origin: center;
}
.nav #nav-check {
  display: none;
}
.nav .profile-logo img {
  width: 60px;
  border-radius: 50%;
}
.nav .link-auth {
  display: none;
  text-decoration: none;
  color: #fff;
}
.nav .link-auth:hover {
  color: #C9AC8C;
}

@media (max-width: 650px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    cursor: pointer;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #191919;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 80px;
    left: 0px;
    text-align: center;
  }
  .nav > .nav-links div {
    padding-top: 30px;
  }

  .nav > .nav-links > a {
    display: inline-block;
    padding: 12px;
    width: 100%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 80px);
    overflow-y: auto;
  }
}

.btn-lg {
  width: 100%;
  height: 46px;
  background: #152540;
  border-radius: 99px;
  border: none;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
.btn-lg:hover {
  background-color: #FFF;
  color: #152540;
  border: solid 0.3rem #152540;
}

.btn-sm {
  width: 142px;
  height: 43px;
  background: #152540;
  border-radius: 4px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
  cursor: pointer;
}
.btn-sm:hover {
  background-color: #FFF;
  color: #152540;
  border: solid 0.3rem #152540;
}

.btn-add {
  width: 200px;
  height: 48px;
  background: #C9AC8C;
  font-family: "Steinbeck";
  font-style: normal;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #3C2710;
  cursor: pointer;
}
.btn-add:hover {
  background-color: #FFF;
  color: #152540;
  border: solid 0.3rem #152540;
}

.home-btn {
  width: 15%;
  height: 47.02px;
  background: #C9AC8C;
  border-radius: 15px;
  font-family: "Steinbeck";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #3C2710;
  cursor: pointer;
}

.card {
  width: 180px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  width: auto;
  max-width: 100%;
  border-radius: 5px;
}
.card .card-title {
  font-family: Rotterburg;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #C9AC8C;
  text-decoration: none;
}
.card .card-title:hover {
  color: #bd9b76;
}

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tab__menu {
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  align-items: center;
}
.tab__menu li {
  list-style: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  font-family: Helvetican;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 1px;
}
.tab__menu li:hover {
  color: #C9AC8C;
  transition: 0.3s ease;
}

[data-content] {
  display: none;
}

.active[data-target] {
  color: #C9AC8C;
}

.active[data-content] {
  display: block;
}

#home__page {
  background: #191919;
}

form.home__search {
  text-align: center;
  margin-top: 13px;
}

.home-form-title {
  margin-top: 380px;
  text-align: center;
  font-family: "Rotterburg";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 34px;
  color: #c9ac8c;
}

.home-input {
  width: 60%;
  height: 47.02px;
  background: #404040;
  border-radius: 15px;
  padding-left: 40px;
  font-family: "Steinbeck";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border: none;
  color: rgba(255, 255, 255, 0.3);
}

.fa-magnifying-glass {
  padding-right: 10px;
}

.card-text {
  text-align: center;
}

.fa-solid {
  color: #3c2710;
}

.home-title {
  margin-top: 64px;
  margin-bottom: 30px;
  font-family: "Rotterburg";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 34px;
  text-align: center;
  color: #c9ac8c;
}

.warpper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background: transparent;
  display: inline-block;
  color: #ffffff;
  border-radius: 3px 3px 0px 0px;
}

.panels {
  margin-top: 50px;
  margin-bottom: 100px;
  background: transparent;
  min-height: 200px;
  width: 100%;
  max-width: 1200px;
  border-radius: 3px;
  overflow: hidden;
  padding: 20px;
}

.panel {
  display: none;
  animation: fadein 0.8s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.panel-title {
  font-size: 1.5em;
  font-weight: bold;
}

.radio {
  display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel {
  display: block;
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab {
  background: #191919;
  color: #c9ac8c;
}

.author__body {
  background: #191919;
  background-image: url(../../img/BG-png/ornament.png);
  background-position-x: 100%;
  background-position-y: 100%;
  background-repeat: no-repeat;
}
.author__body .aside .author__img-wrapper .author__img {
  margin-right: 80px;
}
.author__body .aside .author__img-wrapper .author__img img {
  width: 100%;
  object-fit: contain;
}
.author__body .about__author {
  width: 75%;
  margin: 30px 0 40px 70px;
}
.author__body .about__author p {
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0px;
  font-family: Helvetican;
  color: rgba(255, 255, 255, 0.6);
}
.author__body .about__author .birth__date,
.author__body .about__author .death__date,
.author__body .about__author .arrow__minus {
  font-family: Rotterburg;
  color: #C9AC8C;
  font-weight: 400;
  font-size: 39px;
  margin: 13px 0 5px;
}
.author__body .author__title-wrapper .author__title {
  text-transform: uppercase;
  font-family: Rotterburg;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
  text-align: center;
  margin: 50px 0 0 0;
  color: #C9AC8C;
}
.author__body .author__title-wrapper .author__text {
  font-style: normal;
  font-family: Helvetican;
  font-weight: 400;
  font-size: 16px;
  line-height: 144.4%;
  padding: 20px 80px 30px 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
}
.author__body .author__works-wrapper {
  flex-direction: row;
}
.author__body .author__works-wrapper i {
  color: #C9AC8C;
  word-spacing: 9px;
  display: block;
}
.author__body .author__works-wrapper .works__text {
  font-family: Helvetican;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 154.9%;
  padding: 5px 250px 0 15px;
  color: #FFFFFF;
}
.author__body .author__books-title {
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 10px 0;
}
.author__body .author__books-title .books__title {
  text-transform: uppercase;
  font-family: Rotterburg;
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 34px;
  text-align: center;
  color: #C9AC8C;
}
.author__body .author__books-title .books__text {
  font-style: normal;
  padding-right: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  font-family: Helvetican;
  color: #FFFFFF;
}
.author__body .author__books-title .books__text:hover {
  text-decoration: underline;
  cursor: pointer;
}
.author__body .author__books-wrapper .card {
  margin-right: 40px;
}

.container-flip {
  width: 100%;
  height: 100%;
}
.container-flip .flip-card-3D-wrapper {
  width: 100%;
  height: 100%;
}
.container-flip .flip-card-3D-wrapper #flip-card {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.container-flip .flip-card-3D-wrapper #flip-card-btn-turn-to-back,
.container-flip .flip-card-3D-wrapper #flip-card-btn-turn-to-front {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-front,
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-front img,
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-back img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-front .form-up,
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-back .form-up {
  display: grid;
  place-items: center;
  width: 100%;
}
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-front .form-up .form-sign-up,
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-back .form-up .form-sign-up {
  max-width: 500px;
}
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-front .form-up .form-title,
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-back .form-up .form-title {
  font-family: "Arial Black";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
}
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-front .form-up input,
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-back .form-up input {
  border: 1px solid #b4b4bb;
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  outline: none;
}
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-front .form-up input::placeholder,
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-back .form-up input::placeholder {
  color: #aaaaaa;
}
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-front .form-up .checkbox,
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-back .form-up .checkbox {
  accent-color: green;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-front .form-up .role,
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-back .form-up .role {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-front {
  color: #000;
}
.container-flip .flip-card-3D-wrapper #flip-card .flip-card-back {
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.do-flip {
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.form-sign-in {
  position: relative;
}
.form-sign-in span {
  transform: translateY(-50%);
  font-size: 20px;
  color: #000;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 200px;
  right: 18px;
}
.form-sign-in .input-eye:valid ~ span {
  display: block;
}
.form-sign-in span i.hide-btn::before {
  content: "\f070";
}

.w-100 {
  width: 100%;
}

#addbook .form-addbook .container-upload-img {
  background: #191919;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#addbook .form-addbook .container-upload-img img {
  width: 300px;
  height: 482.33px;
  object-fit: inital;
}
#addbook .form-addbook .container-upload-img img[src=""] {
  visibility: hidden;
}
#addbook .form-addbook .container-upload-img label {
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  width: 60% !important;
}
#addbook .form-addbook .container-upload-img #upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
#addbook .form-addbook .container-form-addbook {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#addbook .form-addbook .container-form-addbook div {
  max-width: 500px;
}
#addbook .form-addbook .container-form-addbook div .form-title {
  font-family: "Arial Black";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
}
#addbook .form-addbook .container-form-addbook div input, #addbook .form-addbook .container-form-addbook div textarea {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 15px;
  background: #232323;
  color: #fff;
}
#addbook .form-addbook .container-form-addbook div #description {
  height: 100px;
}

.container-profile .profile-wrapper {
  background: radial-gradient(85.43% 1678.66% at 98.07% 50%, #2f2f2f 0%, #171717 100%);
  border-radius: 8px;
}
.container-profile .profile-wrapper .profile-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container-profile .profile-wrapper .profile-about .profile-about-content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}
.container-profile .profile-wrapper .profile-about .profile-about-content .profil-info-left {
  text-align: center;
}
.container-profile .profile-wrapper .profile-about .profile-about-content .profil-info-left img {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.container-profile .profile-wrapper .profile-about .profile-about-content .profil-info-left img[src=""] {
  visibility: hidden;
}
.container-profile .profile-wrapper .profile-about .profile-about-content .profil-info-left .fair-text {
  font-size: 20px;
}
.container-profile .profile-wrapper .profile-about .profile-about-content .profile-info-right {
  line-height: 35px;
}
.container-profile .profile-wrapper .profile-circle-img {
  display: flex;
  justify-content: flex-end;
}

.profile-tab li {
  font-size: 17px !important;
}

.profile-book-wrapper .card {
  margin: 20px !important;
}

.form-change-data .col-md-4 {
  padding-left: 20px;
  padding-top: 20px;
}
.form-change-data .col-md-4 .profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}
.form-change-data .col-md-4 img[src=""] {
  visibility: hidden;
}
.form-change-data .col-md-4 label {
  position: relative;
  background: #fff;
  padding: 12px 9px 11px 9px;
  border-radius: 8px;
  bottom: 20px;
  right: 40px;
  cursor: pointer !important;
}
.form-change-data .col-md-4 label i {
  font-size: 20px;
  color: #000;
}
.form-change-data .col-md-4 input {
  display: none;
}
.form-change-data .col-md-8 {
  font-family: "Poppins";
  font-style: normal;
}
.form-change-data .col-md-8 h2 {
  font-weight: 500;
  font-size: 25px;
}
.form-change-data .col-md-8 label {
  position: absolute;
  font-size: 16px;
  color: #ece5e5;
}
.form-change-data .col-md-8 input {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #232323;
  color: #fff;
}
.form-change-data .col-md-8 input::placeholder {
  color: #fff;
}

#bg-dark {
  background-color: #191919;
  color: #fff;
}

.fair-text {
  color: #C9AC8C;
  font-weight: 400;
}

.text-muted {
  color: rgba(255, 255, 255, 0.5);
}

.change-data-btn {
  width: 100%;
  display: flex;
  justify-content: end;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.w-100 {
  width: 100%;
}

.mt-40 {
  margin-top: 40px;
}

.btn-lg {
  width: 100%;
  height: 46px;
  background: #152540;
  border-radius: 99px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.btn-sm {
  width: 142px;
  height: 43px;
  background: #152540;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.btn-add {
  width: 200px;
  height: 48px;
  background: #C9AC8C;
  font-family: "Steinbeck";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #3C2710;
  cursor: pointer;
}

.home-btn {
  width: 160.21px;
  height: 47.02px;
  background: #C9AC8C;
  border-radius: 15px;
  font-family: "Steinbeck";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #3C2710;
}

.card {
  width: 180px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  width: auto;
  max-width: 100%;
  border-radius: 5px;
}
.card .card-title {
  font-family: Rotterburg;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #C9AC8C;
  text-decoration: none;
}
.card .card-title:hover {
  color: #bd9b76;
}

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tab__menu {
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  align-items: center;
}
.tab__menu li {
  list-style: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  font-family: Helvetican;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 1px;
}
.tab__menu li:hover {
  color: #C9AC8C;
  transition: 0.3s ease;
}

[data-content] {
  display: none;
}

.active[data-target] {
  color: #C9AC8C;
}

.active[data-content] {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Rotterburg;
  src: url(../assets/fonts/rotterburg/RotterburgstylishfreeRegular-ZVZ5B.otf);
}
@font-face {
  font-family: Helvetican;
  src: url(../assets/fonts/helvetican/HelveticaNeueCyr-Light.otf);
}

/*# sourceMappingURL=main.css.map */
