<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>Author</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="../sass/main.scss" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <meta name="theme-color" content="#fafafa" />
  </head>
  <body>
    <div class="nav">
      <input type="checkbox" id="nav-check" />
      <div class="nav-header">
        <div class="nav-title">Badiiyat</div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links">
        <div>
          <a href="index.html">Bosh Sahifa</a>
        </div>
        <div>
          <a href="books.html">Kitoblar</a>
        </div>
        <div>
          <a href="authors.html">Avtorlar</a>
        </div>
      </div>
  <div class="nav-auth">
    <a class="profile-logo me-5" href="profile.html">
      <img src="https://cdn-icons-png.flaticon.com/512/219/219983.png" />
    </a>
    <a class="log-off" href="auth.html"> Log off </a>
  </div>
      <a class="link-auth" href="auth.html"> Sign in </a>
    </div>

  <div class="row author__body " style="border-top: 1px solid #8f8d8d;">

    <div class="col col-md-4 col-xl-6 aside about-author">

      <div class="row author__img-wrapper col col-md-6 col-lg-4">
        <div class="author__img ">
          <img src="../assets/book-details/author-bodyimg.png" alt="">
        </div>
      </div>

      <div class="row about__author">
        <div class="col author__birth-wrapper">

          <p class="birth__title">Tavallud sanasi</p>
          <h1 class="birth__date">5-Avg 1941</h1>
          <p class="birth__location">Toshkent, Uzbekistan</p>

        </div>

        <div class="col arrow__wrapper" style="align-items: center; display: flex; align-content: center;">
          <span class="arrow__minus">-</span>
        </div>

        <div class="col author__death-wrapper">

          <p class="death__title">O'lgan sanasi</p>
          <h1 class="death__date">24-MAY 2013</h1>
          <p class="death__location">Toshkent, Uzbekistan</p>

        </div>
      </div>

    </div>

    <div class="col col-md-8 col-xl-6">
      <div class="row author__title-wrapper author-name">
        <div>
          <h1 class="author__title">O'tkir Hoshimov</h1>
          <p class="author__text">O'tkir Hoshimov 1941 yil Toshkent viloyatining Zangiota (hozirgi Chilonzor) tumanidagi
            Do'mbiravot mavzeida tug'ildi. O'. Hoshimov mehnat faoliyatini erta boshladi. Toshkent Davlat universiteti
            (hozirgi O'zbekiston Milliy universiteti)ning jurnalistika kulliyotida o'qish bilan baravar gazeta
            tahriryatida ishladi. 1959 yildan 1963 yilgacha “Temiryo'lchi”, “Qizil O'zbekiston”, “Transportniy rabochiy”
            gazetalarida xat tashuvchi, mussaxhih, tarjimon bo'lib ishladi. So'ng “Toshkent haqiqati” gazetasida adabiy
            xodim (1963-1966), “Toshkent oqshomi” gazetasida bo'lim mudiri (1966-1982), G'. G'ulom nomidagi Adabiyot va
            san'at nashriyotida bosh muharrir o'rinbosari (1982-1985) bo'ldi. 1985-1995 yillarda “Sharq yulduzi” jurnaliga
            bosh muharrirlik qildi. 1995 yildan 2005 yilgacha O'zbekiston Respublikasi Oliy Majlisining Matbuot va axborot
            qo'mitasi raisi lavozimida ishladi. 2005 yildan “Teatr“ jurnalida bosh muharrir bo'lib ishladi.</p>
        </div>
      </div>

      <div class="row author__works-wrapper">
        <i class="fa-solid fa-bookmark row"> IJODI</i>
        <p class="works__text row">Yozuvchining ilk asari 1962-yilda „Po'lat chavandoz“ nomida ocherklar to'plami
          tarzida nashrdan chiqdi. Ammo yozuvchiga muvaffaqiyat keltirgan asar 1970-yilda nashr qilingan „Bahor
          qaytmaydi“ qissasi bo'ldi.</p>
      </div>

      <div class="row author__books-title">

        <h1 class="books__title">Asarlari</h1>
        <p class="books__text">Barchasini ko'rish</p>
      </div>
      <div class="row author__books-wrapper author-card">
        <!-- ===============    for book card     =============== -->

        <div class="card">
          <a href="book.html">
            <img src="../assets/book-details/book-img.png" alt="">

            
          </a>
          <div class="card-body pt-2">
            <a href="books.html" class="card-title">dunyoning ishlari</a>
            <div class="card-text pt-1">O'tkir Hoshimov</div>
          </div>
          <div class="card-footer pt-1">
            <i class="fa-solid fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>

        <div class="card">
          <a href="book.html">
            <img src="../assets/book-details/book-img.png" alt="">

          </a>
          <div class="card-body pt-2">
            <a href="books.html" class="card-title">dunyoning ishlari</a>
            <div class="card-text pt-1">O'tkir Hoshimov</div>
          </div>
          <div class="card-footer pt-1">
            <i class="fa-solid fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>

      </div>
    </div>

  </div>



    <script src="../js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/router.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-XXXXX-Y", "auto");
      ga("set", "anonymizeIp", true);
      ga("set", "transport", "beacon");
      ga("send", "pageview");
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
