<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>Bookzone</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="../sass/main.scss" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <meta name="theme-color" content="#fafafa" />
  </head>

  <body id="home__page">
    <div class="nav">
      <input type="checkbox" id="nav-check" />
      <div class="nav-header">
        <div class="nav-title">Badiiyat</div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links">
        <div>
          <a href="index.html">Bosh Sahifa</a>
        </div>
        <div>
          <a href="books.html">Kitoblar</a>
        </div>
        <div>
          <a href="authors.html">Avtorlar</a>
        </div>
      </div>
      <div class="nav-auth">
        <a class="profile-logo me-5">
          <img class="profile-img" src="https://cdn-icons-png.flaticon.com/512/219/219983.png" />
        </a>
        <div class="sub-menu-1">
          <ul>
            <li>
              <a href="profile.html"> Profile  </a>
            </li> <li>
              <a class="log-off" href="setting.html"> Sozlamalar </a>
            </li>
             <li>
               <a class="log-off" href="auth.html"> Log out </a>
             </li>
          </ul>
      </div>
      </div>
      <a class="link-auth" href="auth.html"> Sign in </a>
    </div>
    <section class="">
      <div class="container">
        <div class="row">
          <div class="col">
            <h5 class="form-title">QIDIRISH</h5>
            <form class="home__search">
              <input
                class="home-input"
                type="text"
                placeholder="Adiblar, kitonlar, audiolar, maqolalar ..."
              />
              <button class="home-btn">
                <i class="fa-solid fa-magnifying-glass"></i>Izlash
              </button>
            </form>
            <h3 class="home-title">ASOSIY KATEGORIYALAR</h3>
            <ul class="tab__menu">
              <li class="active" data-target="#bir">Temuriylar Davri</li>
              <li data-target="#ikki">Jadid adabiyoti</li>
              <li data-target="#uch">Sovet davri</li>
              <li data-target="#tort">Mustaqillik davri</li>
            </ul>

            <div class="tab__content">
              <div data-content id="bir" class="active home__books">
                <div class="card">
                  <a href="book.html">
                    <!-- <img src="./assets/images/book.png" alt="Avatar" /> -->
                  </a>
                  <div class="card-body pt-2">
                    <a href="books.html" class="card-title"
                      >dunyoning ishlari</a
                    >
                    <div class="card-text pt-1">O'tkir Hoshimov</div>
                  </div>
                  <div class="card-footer pt-1">
                    <i class="fa-solid fa-star"></i>
                    4.1 - 3400 ta fikrlar
                  </div>
                </div>
              </div>
              <div data-content id="ikki">
                <div class="card">
                  <a href="book.html">
                    <!-- <img src="./assets/images/home/image 2.png" alt="Avatar" /> -->
                  </a>
                  <div class="card-body pt-2">
                    <a href="books.html" class="card-title"
                      >dunyoning ishlari</a
                    >
                    <div class="card-text pt-1">O'tkir Hoshimov</div>
                  </div>
                  <div class="card-footer pt-1">
                    <i class="fa-solid fa-star"></i>
                    4.1 - 3400 ta fikrlar
                  </div>
                </div>
              </div>
              <div data-content id="uch">
                <div class="card">
                  <a href="book.html">
                    <!-- <img src="./assets/images/home/image 3.png" alt="Avatar" /> -->
                  </a>
                  <div class="card-body pt-2">
                    <a href="books.html" class="card-title"
                      >dunyoning ishlari</a
                    >
                    <div class="card-text pt-1">O'tkir Hoshimov</div>
                  </div>
                  <div class="card-footer pt-1">
                    <i class="fa-solid fa-star"></i>
                    4.1 - 3400 ta fikrlar
                  </div>
                </div>
              </div>
              <div data-content id="tort">
                <div class="card">
                  <a href="book.html">
                    <!-- <img src="./assets/images/book.png" alt="Avatar" /> -->
                  </a>
                  <div class="card-body pt-2">
                    <a href="books.html" class="card-title"
                      >dunyoning ishlari</a
                    >
                    <div class="card-text pt-1">O'tkir Hoshimov</div>
                  </div>
                  <div class="card-footer pt-1">
                    <i class="fa-solid fa-star"></i>
                    4.1 - 3400 ta fikrlar
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="../js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/router.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-XXXXX-Y", "auto");
      ga("set", "anonymizeIp", true);
      ga("set", "transport", "beacon");
      ga("send", "pageview");
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
