.btn-lg{
    width: 100%;
    height: 46px;
    background: #152540;
    border-radius: 99px;
    border: none;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
       }
};
.btn-sm{
    width: 142px;
    height: 43px;
    background: #152540;
    border-radius: 4px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
       }
};
.btn-add{
    width: 200px;
    height: 48px;
    background: #C9AC8C;
    font-family: 'Steinbeck';
    font-style: normal;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #3C2710;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
       }

}
.home-btn{
    width: 15%;
height: 47.02px;
background: #C9AC8C;
border-radius: 15px;
font-family: 'Steinbeck';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #3C2710;
}


