
.card{
    width: 180px;
    margin: 5px;
    @include flexbox(column,center,center);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
     }
    img{
        width:auto;
        border-radius: 5px;
    }
  .card-title{
    font-family: Rotterburg;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #C9AC8C;
    text-decoration: none;
    &:hover{
        color:#bd9b76 ;
    }
  }
}
