
.card{
    width: 165px;
    margin: 5px;
    @include flexbox(column,flex-start,center);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    img{
        width:auto;
        border-radius: 5px;
    }
  .card-title{
    font-family: Rotterburg;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #C9AC8C;
    text-decoration: none;
    &:hover{
        color:#bd9b76 ;
    }
  }
}
