  .form-addbook , .form-updatebook{
    .container-upload-img {
      background:$darkbg;
      min-height: 100vh;
      @include flexbox(column, center, space-evenly);
      img {
        width: 300px;
        height: 482.33px;
        object-fit: inital;
      }
      img[src=""] {
       visibility: hidden;
      }
      label {
        cursor: pointer;
        padding: 5px 20px 5px 20px;
        width: 60% !important;
      }
      #up-book-img, #addbook-photo {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
    }
    .container-form-addbook, .container-form-updatebook{
        @include flexbox(column, center, center);
        div{
            max-width: 500px;
            .form-title {
                font-family: 'Arial Black';
                font-style: normal;
                font-weight: 400;
                font-size: 36px;
                line-height: 51px;
            }
            input,textarea, select{
              width: 100%;
              padding: 15px;
              border: none;
              outline: none;
              border-radius: 15px;
              background: #232323;
              color: #fff;
              }
              #description{
                height: 100px;
              }
        }
    }
  }


.category-option{
  display: none;
}