#addbook {
  .form-addbook {
    .container-upload-img {
      background: rgba(243, 243, 243, 0.93);
      min-height: 100vh;
      @include flexbox(column, center, space-evenly);
      img {
        width: 300px;
        height: 482.33px;
        object-fit: inital;
      }
      img[src=""] {
       visibility: hidden;
      }
      label {
        cursor: pointer;
        padding: 5px 20px 5px 20px;
        width: 60% !important;
      }
      #upload-photo {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
    }
    .container-form-addbook{
        @include flexbox(column, center, center);
        div{
            max-width: 500px;
            .form-title {
                font-family: 'Arial Black';
                font-style: normal;
                font-weight: 400;
                font-size: 36px;
                line-height: 51px;
            }
            input,textarea {
                border: 1px solid #b4b4bb;
                font-family: "Roboto", sans-serif;
                border-radius: 10px;
                width: 100%;
                padding: 15px;
                outline: none;
                &::placeholder {
                  color: #aaaaaa;
                }
              }
              #description{
                height: 100px;
              }
        }
    }
  }
}
