form{
    text-align: center;
    margin-top: 13px;
}
.form-title{
    text-align: center;
    font-family: 'Rotterburg';
font-style: normal;
font-weight: 400;
font-size: 31px;
line-height: 34px;

color: #C9AC8C;

}
.home-input{
    width: 709.58px;
height: 47.02px;
background: #404040;
border-radius: 15px;
padding-left: 40px;
font-family: 'Steinbeck';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */


color: rgba(255, 255, 255, 0.3);

}
.fa-solid{
    color: #3C2710;
}
.home-title{
    margin-top: 64px;
    font-family: 'Rotterburg';
font-style: normal;
font-weight: 400;
font-size: 31px;
line-height: 34px;
text-align: center;
color: #C9AC8C;

}