#home__page {
  background: #191919;
}
form.home__search {
  text-align: center;
  margin-top: 13px;
}
.home-form-title{
  margin-top: 380px;
  text-align: center;
  font-family: "Rotterburg";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 34px;

  color: #c9ac8c;
}
.home-input {
  width: 60%;
  height: 47.02px;
  background: #404040;
  border-radius: 15px;
  padding-left: 40px;
  font-family: "Steinbeck";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
   border: none;
  color: rgba(255, 255, 255, 0.3);
}
.fa-magnifying-glass {
  padding-right: 10px;
}
.card-text {
  text-align: center;
}
.fa-solid {
  color: #3c2710;
}
.home-title {
  margin-top: 64px;
  margin-bottom: 30px;
  font-family: "Rotterburg";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 34px;
  text-align: center;
  color: #c9ac8c;
}

.home__books, .authors-wrapper{
  display: flex !important;
  flex-wrap: wrap;
  .card{
    margin-top: 20px;
    margin-right: 42px;
  }
}

.home-input{
  outline: none;
}