.container-profile {
  .profile-wrapper {
    background: radial-gradient(
      85.43% 1678.66% at 98.07% 50%,
      #2f2f2f 0%,
      #171717 100%
    );
    border-radius: 8px;
    .profile-about {
      @include flexbox(row, center, center);
      .profile-about-content {
        @include flexbox(row, start, center);
        .profil-info-left {
          text-align: center;
          img {
            width: 168px;
            height: 168px;
            border-radius: 50%;
            border: 2px solid #fff;
          }
          img[src=""] {
            visibility: hidden;
          }
          .fair-text {
            font-size: 20px;
          }
        }
        .profile-info-right {
          line-height: 35px;
        }
      }
    }
    .profile-circle-img {
      display: flex;
      justify-content: flex-end;
    }
  }
}


.profile-tab {
  li {
    font-size: 17px !important;
  }
}
.profile-book-wrapper {
  .card {
    margin: 20px !important;
  }
}
.form-change-data {
  .col-md-4 {
    padding-left: 20px;
    padding-top: 20px;
    .profile-img {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #fff;
    }
    img[src=""] {
      visibility: hidden;
    }
    label {
      position: relative;
      background: #fff;
      padding: 12px 9px 11px 9px;
      border-radius: 8px;
      bottom: 20px;
      right: 40px;
      cursor: pointer !important;
      i {
        font-size: 20px;
        color: #000;
      }
    }
    input {
      display: none;
    }
  }
  .col-md-8 {
    font-family: "Poppins";
    font-style: normal;
    h2 {
      font-weight: 500;
      font-size: 25px;
    }
    label {
      position: absolute;
      font-size: 16px;
      color: rgb(236, 229, 229);
    }
    input {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #232323;
    color: #fff;
    }
    input::placeholder{
      color:#fff;
    }
  }
}

#bg-dark {
  background-color: $darkbg;
  color: #fff;
}
.fair-text {
  color: $fair;
  font-weight: 400;
}
.text-muted {
  color: rgba($color: #fff, $alpha: 0.5);
}

.change-data-btn {
  width: 100%;
  display: flex;
  justify-content: end;
}
.input-group {
  @include flexbox(row, center, space-evenly);
}
.w-100{
  width: 100%;
}
.mt-40{
  margin-top: 40px;
}